@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_bootstrapLayout.cshtml";
}
     <!-- Carousel
    ================================================== -->
    <link href="~/css/carousel.css" rel="stylesheet" />
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img   alt="First slide" src="~/Images/ad_004.jpg" > 
          <div class="container">
            <div class="carousel-caption">
              <h1>PCB板专业设计公司</h1>
              <p>深圳捷多邦科技有限公司是一家集印制电路板样板快件及中小批量板的生产制造和销售服务的供应商。公司自创立以来，秉承<code> “以市场为导向，以质量为中心”</code>的经营理念，一直致力于成为国内领先的行业一流企业，为我国信息电子科技的持续创新提供优质快捷的服务。公司先后投入巨资从美国、日本、德国、台湾等国家和地区，</p>       
              <p><a class="btn btn-lg btn-primary" href="#" role="button">了解更多</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img  alt="First slide" src="~/Images/ad_002.jpg" > 
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img  alt="First slide" src="~/Images/ad_001.jpg" > 
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
      <!-- /.carousel -->
 <div class="container marketing">

     
     <div class="row">
         <div class="col-lg-12 visible-lg"></div>
          <img src="~/Images/banner1.jpg" / width="100%">
     </div>
    
  

      <!-- Three columns of text below the carousel -->
     @* <div class="row">
        <div class="col-lg-4">
     
          <img class="img-thumbnail" src="~/Images/indexNews1.jpg" width="140" height="140"/>
          <h2>标题</h2>
          <p>这里可以显示非常重要的内容，并且适合在首页进行展示的内容，比如优惠活动，公司荣誉，公司重大发展，公司介绍都可以</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-thumbnail" src="~/Images/indexNews2.jpg" width="140" height="140"/>
           <h2>标题</h2>
          <p>这里可以显示非常重要的内容，并且适合在首页进行展示的内容，比如优惠活动，公司荣誉，公司重大发展，公司介绍都可以</p>  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
         <img class="img-thumbnail" src="~/Images/indexNews3.jpg" width="140" height="140"/>
          <h2>标题</h2>
          <p>这里可以显示非常重要的内容，并且适合在首页进行展示的内容，比如优惠活动，公司荣誉，公司重大发展，公司介绍都可以</p>  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div>*@
     <!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">这块我个人觉得可以弄些pcb板的一些专业知识介绍，一些技术交流等。现在很多销售商都从行业文化开始做起了，给浏览者提供一些有价值的信息，如前沿学术技术文章等。从而提高网站的访问量。之前给强生医疗做网站，他们很注重健康知识的信息发布，在官网上有专门的版块叫健康宝典。
               这块如果不需要也可以拿掉，可以在主导航在加一个版块，例如叫“行业交流”
           
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

       </div> 

@Html.Partial("QQOnlineservice")