@{
    ViewBag.Title = "Introduce";
}

@{
    ViewBag.Title = "公司介绍";
    Layout = "~/Views/Shared/_bootstrapLayout.cshtml";
}

@section breadcrumb {


}

<div class="container marketing">
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">联系方式</div>
                <div class="panel-body">
                    <address class="text-left">

                        <abbr title="Phone">地址:</abbr>
                        上海市金山工业区亭卫公路6558号5幢1549室<br>
                        <abbr title="Phone">电话:</abbr>
                        (123) 456-7890<br>
                        <abbr title="Phone">传真:</abbr>
                        (123) 456-7890
                    </address>
                    <address>
                        <strong>业务部</strong><br>
                        <a href="mailto:admin@coretech.com">admin@coretech.com</a>
                    </address>
                    <address>
                        <strong>技术部</strong><br>
                        <a href="mailto:technical@coretech.com">technical@coretech.com</a>
                    </address>
                    <img src="~/Images/Map.png" width="100%" />
                </div>
            </div>
        </div>

        @Html.Partial("_RightAD")
    </div>
</div>




