@{
    ViewBag.Title = "Introduce";
}

@{
    ViewBag.Title = "公司介绍";
    Layout = "~/Views/Shared/_bootstrapLayout.cshtml";
}

@section breadcrumb {


}
<style>
    .nav-stacked li {
        border-bottom: 1px solid #e5e5e5;
    }
</style>

<div class="container marketing">


 

    <div class="row" style="margin-right: 0px;">

        <div class="col-lg-10">
            <div class="panel panel-default">
              <div class="panel-heading">公司简介</div>
              <div class="panel-body">
                   <img src="~/Images/company2.jpg" width="100%"/>
                  <p></p>
                  <p>
                      深圳捷多邦科技有限公司是一家集印制电路板样板快件及中小批量板的生产制造和销售服务的供应商。公司自创立以来，秉承“以市场为导向，以质量为中心”的经营理念，一直致力于成为国内领先的行业一流企业，为我国信息电子科技的持续创新提供优质快捷的服务。
公司总部位于深圳华强北电子商圈，公司在惠州市大亚湾石化大道，建有集样板、中试、生产功能于一体的现代化研发制造基地，公司产品及服务广泛应用于计算机设备、通讯产品、消费电子产品、汽车医疗电子产品、仪器仪表和航空航天设备等行业领域，产品远销欧美、韩国、日本、台湾和东南亚等国家和地区。
                  </p>
               </div>
            </div>     
        </div>

        <div class="col-lg-2">          
               <img src="~/Images/banner2.jpg"  width="180" height="250"/>
               @*<img data-src="holder.js/180x450" alt="banner"/>*@
        </div>

    </div>
</div>
