@{
    ViewBag.Title = "Introduce";
}

@{
    ViewBag.Title = "公司介绍";
    Layout = "~/Views/Shared/_bootstrapLayout.cshtml";
}

@section breadcrumb {


}


<div class="container marketing">
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">公司简介</div>
                <div class="panel-body">
                    <img src="~/Images/company2.jpg" width="100%" />
                    <hr />
                    <div class="well well-lg">
                        <p class="lead">
                            上海芯展电子科技有限公司创立于2010年，专业从事各类电子系统的设计研发、PCB布板、打板、焊接以及量产代工等一条龙服务。与国内众多高校、研究所以及企业有着密切合作关系。芯展电子在PCB布板、打板、焊接以及量产上的专业性，为高校、研究所和企业的研究提供了可靠的技术支持。同时芯展电子拥有一支实力雄厚的研发团队，团队成员全部是博士、硕士学位，承接过众多高校、研究所、企业的软、硬件系统的研发。公司秉承“质量第一，专业服务”的理念，为我们的客户提供最优质的技术与服务。        
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_RightAD")
    </div>
</div>
