@{
    ViewBag.Title = " 主营业务";
    Layout = "~/Views/Shared/_bootstrapLayout.cshtml";
}

@section breadcrumb {


}

<div class="container marketing">

    <div class="row">
    <div class="col-lg-2">        
             <ul class="nav nav-pills nav-stacked shadrow">
                    <li><a href="/product">PCB布板</a></li>
                    <li><a href="/product">PCB打板</a></li>
                    <li><a href="/product">PCB焊接</a></li>
                    <li><a href="/product">量产代工</a></li>
                    <li><a href="/product">系统研发</a></li>
             </ul>
    </div>

        <div class="col-lg-10">
            <div class="panel panel-default">
              <div class="panel-heading">PBC布板业务介绍</div>
              <div class="panel-body">
                   <img src="~/Images/ad_001.jpg" width="100%"/> 
                  <p></p>
                  <p>
                    布板业务图文介绍布板业务图文介绍布板业务图文介绍布板业务图文介绍布板业务图文介绍布板业务图文介绍布板业务图文介绍
                       布板业务图文介绍布板业务图文介绍布板业务图文介绍布板业务图文介绍布板业务图文介绍布板业务图文介绍布板业务图文介绍
                       布板业务图文介绍布板业务图文介绍布板业务图文介绍布板业务图文介绍布板业务图文介绍布板业务图文介绍布板业务图文介绍
                       布板业务图文介绍布板业务图文介绍布板业务图文介绍布板业务图文介绍布板业务图文介绍布板业务图文介绍布板业务图文介绍
                  </p>
                  <div>
                      <a class="label label-info" href="/Order/Book">马上下单</a>
                  </div>
               </div>
            </div>     
        </div>
    </div>
 </div>

@*<div class="container marketing">


    <div class="row" style="margin-right: 0px;">
        <div class="col-lg-2">
            <ul class="nav nav-pills nav-stacked affix">
                <li><a href="#">业务1</a></li>
                <li><a href="#">业务2</a></li>
                <li><a href="#">业务3</a></li>
                <li><a href="#">业务4</a></li>
                <li><a href="#">业务5</a></li>
            </ul>

        </div>
        <div class="col-lg-10">
            <div class="content">
               <ol class="breadcrumb text-right">
                  <li><a href="#">主页</a></li>
                  <li><a href="#">主营业务</a></li>
                  <li class="active">业务1</li>
                </ol>
                <!-- start post -->
                <div class="post">
                    <div class="postHd text-center">
                        <h1>PCB版设计与编程<small> </small></h1>
                        <p>2014-03-05</p>
                    </div>
                    <div class="postBd text-left">
                        <div class="media">
 

                        <p > &nbsp;&nbsp;&nbsp;&nbsp;2013年12月7日下午，上海市2013年志愿服务慈善嘉年华暨年度上海市外企志愿服务颁奖典礼在静安公园举行。颁奖典礼上，强生中国荣膺三大奖项，强生医疗摘得"年度上海市外企志愿服务优秀团队"奖，强生医疗副总裁付小明作为强生志愿者协会会长荣获"年度上海市外企志愿服务优秀组织者"奖，来自强生医疗专业教育部的龚倩婷、西安杨森的高晓红入选了"年度上海市优秀外企志愿者"。</p>
                      
                        <p>   &nbsp;&nbsp;&nbsp;&nbsp; 在今年首次开展外企志愿服务调研中，强生在一百多家被调研的外企中脱颖而出，受到专家评审团的一致认可。本次评审团由上海市精神文明建设委员会、上海共青团市委、上海市志愿者协会、上海市外商投资协会、上海公益界的领导、专家组成，旨在树立好榜样，调动企业参与志愿服务的积极性，打造具有上海特色的企业志愿服务文化，从而"推动志愿服务常态化"。</p>
                        <p >&nbsp;&nbsp;&nbsp;&nbsp;自2007年来，秉持着 "因爱而生"的理念，强生志愿者协会在公司管理层的大力支持下成立和迅速发展。作为强生企业文化的践行者，强生志愿者通过身体力行的爱心公益行动去努力推动人与人之间的关爱。2012年，超过8000人次的强生员工参与志愿者活动，贡献志愿服务时间近2万小时，为近9万名需要帮助的人们提供了帮扶。积极热情且具有专业技术能力的志愿者团队，成为了强生践行企业社会责任的另一张名片。</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;在同日举行的《中国企业志愿服务发展报告（2013）》新闻发布会，强生公司也因为长期开展员工志愿服务，积极推动行业志愿服务的发展，而作为企业志愿服务的经典案例收录在该发展报告中。付小明先生被邀请作为企业嘉宾在新闻发布会上发言，重申强生公司始终以"因爱而生"为使命，将长久而持续地在中国积极开展志愿服务活动，回馈社会，并继续推动行业的整体发展。</p>
                        <p></p>  
                         <address class="text-right">
                              <strong>Twitter, Inc.</strong><br>
                              795 Folsom Ave, Suite 600<br>
                              San Francisco, CA 94107<br>
                              <abbr title="Phone">P:</abbr> (123) 456-7890
                          </address>
                    </div>
                   
                 
                    <div class="postFt">
                           <hr />
                        <div class="share">
                            <a href="javascript:print();" class="fr print">打印此页</a>  |   <a href="javascript:history.go(-1);" class="back">返回列表</a><hr />
                        </div>
                              
                    </div>
                </div>
                <!-- ended post -->

            </div>
        </div>

    </div>



</div>*@
